.TaskList {
    /* Position the form in the center right of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .add-task-form {
    text-align: left;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: absolute;
    right: 0;
    margin: auto;
    top: 20%;
    left: 30%;
    width: 400px;
    height: 500px;
    
  }
  
  input {
    /* Add some spacing between the input fields */
    margin-bottom: 10px;
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding-left: 10px;
  }

  .task-box {
    position: absolute;
    width: 400px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    top: 35%;
    right: 55%;
    background-color: #f7bd53;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
  }

  .task-box::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    background-color: transparent;
    border-radius: 15px;
    
}


.task-box::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    transition: height 0.5s ease-in-out;
    background-color: #ffa600; /* thumb color */
    border-radius: 15px; /* roundness of the thumb */
  }

.task-box::-webkit-scrollbar-thumb:hover {
    width: 15px;
    height: 15px;
  }

  .submit-button {
    position: absolute;
    left: -475px;
    bottom: 50px;
    appearance: button;
  background-color: #f7bd53;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}



.submit-button:after {
  background-clip: padding-box;
  background-color: #ffa600;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.submit-button:main,
.submit-button:focus {
  user-select: auto;
}

.submit-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.submit-button:disabled {
  cursor: auto;
}
